@import 'variables';

html, body {
  // background-color: #f2f2f2;
  //background-color: #f2f2f2;
  color: $lb-dark-blue !important;
}

body {
  margin-bottom: 120px;
  -webkit-perspective: 800px;
}

a {
  color: $lb-light-blue;
}

a.delete-post {
  color: $lb-red;
}

a.delete-post:hover {
  color: darken($lb-red, 10%);
}

.flash-message {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 200px;
  text-align: center;
  background-color: #333333;
  color: white;
  padding: 4px;
  margin: 0 auto;
}

#nav-bar-wrapper {
  margin-bottom: 45px;
}

.top-bar-section ul a:hover {
  border-bottom: 3px solid #E74C3C;
}

.bloglist-outer {
  .row {
    // max-width: 32.5rem;
  }
}

.blog-title h1 {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

#blog-title, #share-link {
  background-color: #FFF;
}

.post {
  width: 100%;
  background-color: #FFF;
  padding: 0 16px;
  display: inline-block;
  border-top: 3px solid $lb-red;
  box-shadow: 0px 5px 20px -3px lightgray;

  .post-header {
    line-height: 44px;
    display: block;
  }
  
  .post-footer img {
    float: right;
    cursor: pointer;
  }
}

.post-with-image {
  .post-image {
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .post-content {
    margin: 0;
  }
}

.post-with-video {
  .post-video {
    margin-bottom: 20px;
    iframe {
      width: 100%;
      height: 315px;
    }
  }
  .post-content {
    margin: 0;
  }
}

.post-with-text .post-text {
  padding: 0 16px;
  height: 100%;
}

textarea {
  min-height: 100px;
}

.login-form {
  .row {
    max-width: 32.5rem;
  }
}

.form-container {
  width: 500px;
  margin: 0 auto;
}

input {
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;
}

#nav-bar-wrapper * , #nav-bar-wrapper{
  color: $lb-dark !important;
  background-color: white;
}

.form-container *:not(a):not(input), .form-container {
  color: $lb-dark;
}

.menu-ring {
  top: 10%;
  opacity: 0.3;
  margin: 0 auto;
  position: relative;
  width: 600px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 30s;
  -moz-transform-style: preserve-3d;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 30s;
}
.menu-ring > :nth-child(odd) {
  background-color: lightgray;
}
.menu-ring > :nth-child(even) {
  background-color: $lb-red;
}
@-webkit-keyframes spin {
  0%    { -webkit-transform: rotateY(360deg); }
  50%   { -webkit-transform: rotateY(180deg); }
  100%  { -webkit-transform: rotateY(0deg); }
}
@-moz-keyframes spin {
  0%    { -moz-transform: rotateY(360deg); }
  50%   { -moz-transform: rotateY(180deg); }
  100%  { -moz-transform: rotateY(0deg); }
}
.ringPiece{
  position: absolute;
  left: 275px;
  width: 50px;
  height: 50px;
  text-align: center;
  opacity: 0.7;
}

.lb-button {
  width: 100%;
  padding: .5rem;
  margin-bottom: 1.25rem;
  background-color: $lb-light-blue;
  color: white;
  border: none;
}

.lb-button:hover {
  background-color: $lb-dark-blue;
}