<!DOCTYPE html>
<html lang="en" ng-app='liveblog'>
  <head>
    <meta charset="UTF-8">
    <title>LiveBlog</title>
    <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
    <link rel="stylesheet" href="./vendor/foundation/css/foundation.css">
    <link rel="stylesheet" href="./css/main.css">
    <!-- pass the logged in user object into scope for the js -->
    <script>var currentUserId = "<%= currentUserId %>"</script>
  </head>

  <body>
  	<div class="contain-to-grid" id="nav-bar-wrapper" ng-controller="NavController">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/#/">LiveBlog&#8482;</a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a ng-click="createNewBlog()">+ New Blog</a></li>
            <li><a href="#/users/<%= currentUserId %>">My Blogs</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <div id="content-wrapper">
      <div ng-view></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./vendor/jquery/dist/jquery.min.js"></script>
    <script src="./vendor/foundation/js/foundation.min.js"></script>
    <script src="./vendor/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="./vendor/angular/angular.min.js"></script>
    <script src="./vendor/angular-route/angular-route.min.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/router.js"></script>
    <script src="./js/main.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
