<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LiveBlog</title>
  <link rel="stylesheet" href="./foundation/css/foundation.css">
  <link rel="stylesheet" href="./stylesheets/main.css">
  
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>


<body>
	<div>Hello ayyyyy lmao</div>

  <script src="./vendor.js"></script>
  <script src="./js/script.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>

