<!DOCTYPE html>
<html lang="en" ng-app='liveblog'>
  <head>
    <meta charset="UTF-8">
    <title>LiveBlog Login</title>
    <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
    <link rel="stylesheet" href="./vendor/foundation/css/foundation.css">
    <link rel="stylesheet" href="./css/main.css">
  </head>

  <body ng-controller='LoginController'>
    <div class="contain-to-grid" id="nav-bar-wrapper">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="./index.html">LiveBlog&#8482;</a></h1>
          </li>
        </ul>
      </nav>
    </div>
    <form role="form" method="POST" action="/login">
        <div class="row">
          <h1>Log In</h1>
          <div class="small-12 column">
            <label>Email:
              <input type="text" placeholder="Enter your email adress" name="username"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 column">
            <label>Password:
              <input type="password" placeholder="Enter your password" name="password"/>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-12 column">
              <input type="submit" class="button right">Log In</input>
          </div>
        </div>
      </form>
    <script src="./vendor/jquery/dist/jquery.min.js"></script>
    <script src="./vendor/angular/angular.min.js"></script>
  </body>
</html>
