<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>LiveBlog Signup</title>
    <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
    <link rel="stylesheet" href="./vendor/foundation/css/foundation.css">
    <link rel="stylesheet" href="./css/main.css">
  </head>

  <body>
    <div class="contain-to-grid" id="nav-bar-wrapper">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="./index.html">LiveBlog&#8482;</a></h1>
          </li>
        </ul>
      </nav>
    </div>
    <form method="POST" action="/register">
        <h1>Register</h1>
        <div class="row">
          <div class="small-12 column">
            <label>First name:
              <input type="text" name="firstName" placeholder="Enter your first name" ng-minLength="2" ng-maxLength="32"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 column">
            <label>Last name:
              <input type="text" name="lastName" placeholder="Enter your last name" ng-minLength="2" ng-maxLength="32"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 column">
            <label>Email:
              <input type="text" name="email" placeholder="Enter your email address" ng-minLength="6"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 column">
            <label>Password:
              <input type="password" name="password" placeholder="Enter your password" ng-minLength="6" ng-maxLength="32"/>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-12 column">
              <input type="submit" class="button right" value="Sign up" />
          </div>
        </div>
      </form>
    <script src="./vendor/jquery/dist/jquery.min.js"></script>
    <script src="./vendor/angular/angular.min.js"></script>
  </body>
</html>
