<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LiveBlog Login</title>
  <link rel="stylesheet" href="./vendor/foundation/css/normalize.min.css">
  <link rel="stylesheet" href="./vendor/foundation/css/foundation.min.css">
  <link rel="stylesheet" href="./stylesheets/main.css">
  
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>


<body>
    <div>register</div>

  <script src="./vendor/jquery/dist/jquery.min.js"></script>
  <script src="./js/main.js"></script>
</body>
</html>

