<!DOCTYPE html>
<html lang="en" ng-app="signup">
  <head>
    <meta charset="UTF-8">
    <title>LiveBlog Signup</title>
    <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
    <link rel="stylesheet" href="./vendor/foundation/css/foundation.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/validate.css">
  </head>

  <body ng-controller="RegisterController">
    <div class="contain-to-grid" id="nav-bar-wrapper">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="./">LiveBlog&#8482;</a></h1>
          </li>
        </ul>
      </nav>
    </div>
    <div class="form-container">
      <form id="signup-form" name="signupForm" ng-submit="signupForm.$valid && register()" novalidate>
          <div class="row">
            <div class="column">
              <h1>Register</h1>
            </div>
          </div>
          <div class="row">
            <div class="small-12 column">
              <input type="text" name="firstName" ng-model="user.firstName" placeholder="First name" ng-minLength="2" ng-maxLength="32"/>
            </div>
          </div>
          <div class="row">
            <div class="small-12 column">
              <input type="text" name="lastName" ng-model="user.lastName" placeholder="Last name" ng-minLength="2" ng-maxLength="32"/>
            </div>
          </div>
          <div class="row">
            <div class="small-12 column">
              <input type="text" name="email" ng-model="user.email" placeholder="Email" ng-minLength="6"/>
            </div>
          </div>
          <div class="row">
            <div class="small-12 column">
              <input type="password" name="password" ng-model="user.password" placeholder="Password" ng-minLength="6" ng-maxLength="32"/>
            </div>
          </div>

          <div role="alert">
            <span class="error" ng-show="signupForm.firstName.$error.required">
             Required!</span>
          </div>
          <div role="alert">
            <span class="error" ng-show="signupForm.lastName.$error.minlength">
              Too short!</span>
            <span class="error" ng-show="signupForm.lastName.$error.maxlength">
              Too long!</span>
          </div>

          <div class="row">
            <div class="small-12 column">
                <input type="submit" class="button right" ng-class="stateClass" value="{{submitMessage}}" ng-disabled="disableSubmit" />
            </div>
          </div>
        </form>
        <div class="row">
          <div class="column">
            <p>Already have an account? <a href="/login">Log in!</a></p>
          </div>
        </div>
      </div>

    <script src="./vendor/jquery/dist/jquery.min.js"></script>
    <script src="./vendor/angular/angular.min.js"></script>
    <script src="./js/register/main.js"></script>
  </body>
</html>
