.flash-message {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 200px;
  text-align: center;
  background-color: #333333;
  color: white;
  padding: 4px;
  margin: 0 auto; }

#content-wrapper {
  margin-top: 45px; }
