<div class="blog-container">
<form novalidate ng-show="currentUserId == blog.authorId">
  <div class="row">
    <div class="small-6 columns">
      <label>Blog Title:
        <input id="blog-title" type="text" value="{{blog.title}}" readonly/>
      </label>
    </div>
    <div class="small-6 columns">
      <label>Link to share:
        <input id="share-link" type="text" value="http://projectliveblog.herokuapp.com/#/blogs/{{blogId}}" readonly/>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <label>Post Type:
        <select ng-model="postType" ng-init="postType='text'">
          <option value="text">Text</option>
          <option value="image">Image</option>
          <option value="video">Video</option>
        </select>
      </label>
    </div>
  </div>

  <div class="row" ng-show="postType == 'image' || postType == 'video'">
    <div class="small-12 column">
      <label>
        <span ng-show="postType == 'image'">Image URL:</span>
        <span ng-show="postType == 'video'">Video URL:</span>
        <input ng-model="url" class="clear-after" type="text" placeholder="Paste in a URL" />
      </label>
    </div>
  </div>

  <div class="row" ng-show="postType == 'image' || postType == 'video'">
    <div class="small-12 column">
      <label>Caption:
        <input ng-model="caption" class="clear-after" type="text" ng-show="postType == 'image'" placeholder="Enter a caption for the image" />
        <input ng-model="caption" class="clear-after" type="text" ng-show="postType == 'video'" placeholder="Enter a caption for the video" />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <label>Post Content:
        <textarea ng-model="content" class="clear-after" placeholder="Say something about the post..."></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 column">
      <a ng-click="createPost()" class="button right">Post</a>
    </div>
  </div>
</form>

<div class="row" ng-show="currentUserId != blog.authorId">
  <h1>{{ blog.title }}</h1>
  <p>By {{ blog.authorName }}</p>
</div>

<div class="row" ng-model="blog">
  <ul class="small-block-grid-2">
    <li ng-repeat="post in blog.posts">
      <!-- Text post -->
      <article class="post post-with-text" ng-if="post.postType == 'text'">
        <header class="post-header">{{ post.prettyTimeCreated }}
          <a class="right delete-post" ng-click="storePost(post._id)" ng-show="currentUserId == blog.authorId">&times;</a>
        </header>
        <div class="post-content">
          <blockquote class="post-text">
            {{post.text}}
          </blockquote>
        </div>
        <footer class="post-footer">
          <img src="../img/sharing-options.png"/>
        </footer>
      </article>
      <!-- Image post -->
      <article class="post post-with-image" ng-if="post.postType == 'image'">
        <header class="post-header">{{ post.prettyTimeCreated }}
          <a class="right delete-post" ng-click="storePost(post._id)" ng-show="currentUserId == blog.authorId">&times;</a>
        </header>
        <figure class="post-content">
          <div class="post-image" ng-show="post.url">
            <a href="{{ post.url }}" target="_blank">
              <img ng-src="{{ post.url }}" max-width="420" max-height="315"/>
            </a>
          </div>
          <figcaption class="post-caption">
            <h3>{{ post.caption }}</h3>
            <p>{{ post.text }}</p>
          </figcaption>
        </figure>
        <footer class="post-footer">
          <img src="../img/sharing-options.png"/>
        </footer>
      </article>
      <!-- Video post -->
      <article class="post post-with-video" ng-if="post.postType == 'video'">
        <header class="post-header">{{ post.prettyTimeCreated }}
          <a class="right delete-post" ng-click="storePost(post._id)" ng-show="currentUserId == blog.authorId">&times;</a>
        </header>
        <figure class="post-content">
            <div class="post-video" ng-show="post.url">
              <iframe frameborder="0" ng-src="{{ trustSrc(post.url) }}"></iframe>
            </div>
            <figcaption class="post-caption">
                <h3>{{ post.caption }}</h3>
                <p>{{ post.text }}</p>
            </figcaption>
        </figure>
        <footer class="post-footer">
          <img src="../img/sharing-options.png"/>
        </footer>
      </article>
    </li>
  </ul>
</div>

<div id="editBlogTitleModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2>Edit Blog Title</h2>
  <input type="text" ng-model="blog.title"/>
  <button class="button secondary close-modal right">Cancel</button>
  <button class="button confirm-modal right" ng-click="updateTitle()" style="margin-right: 15px;">Save Changes</button>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="deletePostModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2>Delete This Post?</h2>
  <button class="button secondary close-modal right">Cancel</button>
  <button class="button confirm-modal right" ng-click="deletePost()" style="margin-right: 15px;">Confirm</button>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

</div>
